--
-- PostgreSQL database dump
--

-- Dumped from database version 16.0 (Debian 16.0-1.pgdg120+1)
-- Dumped by pg_dump version 16.0 (Debian 16.0-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customer; Type: TABLE; Schema: public; Owner: sector-api
--

CREATE TABLE public.customer (
    agree_to_terms boolean NOT NULL,
    id uuid NOT NULL,
    name character varying(255)
);


ALTER TABLE public.customer OWNER TO "sector-api";

--
-- Name: customer_sector; Type: TABLE; Schema: public; Owner: sector-api
--

CREATE TABLE public.customer_sector (
    customer_id uuid NOT NULL,
    sector_code character varying(255) NOT NULL
);


ALTER TABLE public.customer_sector OWNER TO "sector-api";

--
-- Name: sector; Type: TABLE; Schema: public; Owner: sector-api
--

CREATE TABLE public.sector (
    level integer NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255),
    parent_code character varying(255)
);


ALTER TABLE public.sector OWNER TO "sector-api";

--
-- Data for Name: customer; Type: TABLE DATA; Schema: public; Owner: sector-api
--

COPY public.customer (agree_to_terms, id, name) FROM stdin;
\.


--
-- Data for Name: customer_sector; Type: TABLE DATA; Schema: public; Owner: sector-api
--

COPY public.customer_sector (customer_id, sector_code) FROM stdin;
\.


--
-- Data for Name: sector; Type: TABLE DATA; Schema: public; Owner: sector-api
--



--
-- Name: customer customer_pkey; Type: CONSTRAINT; Schema: public; Owner: sector-api
--

ALTER TABLE ONLY public.customer
    ADD CONSTRAINT customer_pkey PRIMARY KEY (id);


--
-- Name: customer_sector customer_sector_pkey; Type: CONSTRAINT; Schema: public; Owner: sector-api
--

ALTER TABLE ONLY public.customer_sector
    ADD CONSTRAINT customer_sector_pkey PRIMARY KEY (customer_id, sector_code);


--
-- Name: sector sector_pkey; Type: CONSTRAINT; Schema: public; Owner: sector-api
--

ALTER TABLE ONLY public.sector
    ADD CONSTRAINT sector_pkey PRIMARY KEY (code);


--
-- Name: sector fkgyv63wb72u464n8uy7ipj51y7; Type: FK CONSTRAINT; Schema: public; Owner: sector-api
--

ALTER TABLE ONLY public.sector
    ADD CONSTRAINT fkgyv63wb72u464n8uy7ipj51y7 FOREIGN KEY (parent_code) REFERENCES public.sector(code);


--
-- PostgreSQL database dump complete
--

